# Application Environment configurations
APP_ENVIRONMENT="dev"
APP_VERSION="v2"
APP_CODE="omnibase"
APP_NAME="OmniBase"
APP_DEVELOPER="CrackIT Technologies"
APP_BASE_URL="http://playground:8082/"
# CORE Database Configurations
CORE_DB_DRIVER="pgsql"
CORE_DB_HOST="127.0.0.1"
CORE_DB_PORT="5432"
CORE_DB_DATABASE="api"
CORE_DB_USERNAME="root"
CORE_DB_PASSWORD="root"